PORT=3000
JWT_SECRET=ubah-secret-ini

TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=3jtg5ymNw3wbjT5.root
TIDB_PASSWORD=isi-password-tidb
TIDB_DATABASE=ethena_db
TIDB_ENABLE_SSL=true
